@font-face {
  font-family: 'Test';
  src: url("data:font/eot;base64,ZmlsZTE=");
  src: url("data:font/eot;base64,ZmlsZTE=?#iefix") format("embedded-opentype"),
       url("data:font/woff;base64,ZmlsZTQ=") format("woff"),
       url("data:font/svg;base64,ZmlsZTI=#test") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Test';
  src: url("data:font/woff;base64,ZmlsZTU=") format("woff2"),
       url("http://test/font.woff") format("woff"),
       url("data:font/woff;base64,ZmlsZQo=") format("woff"),
       url("data:font/ttf;base64,ZmlsZTM=") format("truetype");
  font-weight: 400;
  font-style: italic;
}

body {
  font-family: 'Test'
}