@font-face {
  font-family: 'Test';
  src: url('fonts/file1.eot');
  src: url('fonts/file1.eot?#iefix') format("embedded-opentype"),
       url('fonts/file4.woff') format("woff"),
       url('fonts/file2.svg#test') format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Test';
  src: url("fonts/file5.woff2") format("woff2"),
       url("http://test/font.woff") format("woff"),
       url("data:font/woff;base64,ZmlsZQo=") format("woff"),
       url(fonts/file3.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}

body {
  font-family: 'Test'
}